In [1]:
# String is a collection of sequential char element
name = 'Anshuman Singh Rathore'
name[-1:-3:-1]

'er'

In [3]:
name[-1:-6:-2]

'eot'

In [5]:
# take 4 varibale and find out the minium value among 4 ?
x = 20 
y = 28
z = 8 
q =12

min_num = min(x,y,z,q)
print('Minimum value: ', min_num)

Minimum value:  8

In [6]:
# Armstrong number
1**3 + 5**3 + 3**3

153

In [7]:
# Armstrong number
# 153
# 1**3 + 5**3 + 3**3 => 1+125+27  =>153
#  153 % 10==> 3
# 153//10==> 15
# 15 % 10==>5
# 15//10 => 1
# 1**3+5**3+3**3=>153

In [12]:
154/10

15.4

In [13]:
154%10

4

In [14]:
154//10

15

In [15]:
# 2356

# # 2**3 + 3**3 + 5**3 + 6**3 =>8+27+125+216=>376

# 2356%10 ==>6
# 2356//10==>235
# 235%10==>5
# 235//10=>23

In [31]:
# there is a cylinder whose radius is 3cm and height is 345cm

# find the voluime of cylinder and
# if the per volume total cost is 230 rupees calculate the price of 5litre


# formula #.r^2.h
import math 
# Given values
radius =  int(input())
height = int(input())
cost_per_volume = int(input()) # in ruppees
volume = math.pi * (radius **2 ) * height # in cubic centimeters
volume_liters = volume /1000 # in liters

cost_for_5_liters = (5 / volume_liters) * cost_per_volume

print('Volume of the cylinder: ',volume , 'Cubic centimeters')
print('Volume in liters', volume_liters,'liters')
print('Cost for 5 liters: ',cost_for_5_liters, 'rupees')

3
345
230
Volume of the cylinder:  9754.645189396308 Cubic centimeters
Volume in liters 9.754645189396308 liters
Cost for 5 liters:  117.89255043844098 rupees

In [17]:
volume

9754.645189396308

In [34]:
# Loop for and while

for i in range(0,10):
    print(i)
    break

0

In [36]:
for i in range(0,100):
    print(i)
    if i == 18:
        break

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18

In [37]:
while(True):
    print('hello')
    break

hello

In [42]:
# to calculate the total of 
# square of all the number divisible by 5 in the range form 
# 1 to 100

for num in range(1,101):
    if num % 5 ==0:
        print(num ,num *num)

5 25
10 100
15 225
20 400
25 625
30 900
35 1225
40 1600
45 2025
50 2500
55 3025
60 3600
65 4225
70 4900
75 5625
80 6400
85 7225
90 8100
95 9025
100 10000

In [44]:
for i in range(1,5):
    print(i)
    for j in range(11,15):
        print(j)

1
11
12
13
14
2
11
12
13
14
3
11
12
13
14
4
11
12
13
14

In [51]:
for outer in range(1,5):
    for inner in range(1,outer+1):
        print('*',end="")
    print('')

*
**
***
****

In [3]:
for outer in range(1,5):
    for inner in range(0,5-outer):
        print('*',end = '')
    print('')

****
***
**
*

In [9]:
for outer in range(1,5):
    for inner in range(1,outer+1):
        print('*',end="")
    print('')
for outer in range(2,5):
    for inner in range(0,5-outer):
        print('*',end = '')
    print('')

*
**
***
****
***
**
*

In [13]:
for i in range(1,5):
    for k in range(3,i-1,-1):
        print('*',end='')
    for j in range()
    print('')

***
**
*

In [1]:
for i in range(1,5):
    for j in range(1,i+1):
        print('+',end='')
    print('')

+
++
+++
++++

In [3]:
for i in range(1,5):
    for j in range (5,i,-1):
        print('*',end='')
    print('')

****
***
**
*

In [8]:
for i in range(1,5):
    for j in range(1,i+1):
        print('*',end='')
    print('')
for i in range(1,5):
    for j in range(5,i+1,-1):
        print('*',end = '')
    print('')

*
**
***
****
***
**
*

In [55]:
for i in range(1,5):
    for j in range(3,i-1,-1):
        print('+',end='')
        
    for k in range(1,i+1):
        print('*',end='')
    print('')

+++*
++**
+***
****

In [56]:
n = int(input('Enter the number of rows: '))
for i in range(1,n):
    for j in range(n-2,i-1,-1):
        print(' ',end='')
        
    for k in range(1,i+1):
        print('*',end='')
    print('')

Enter the number of rows: 5
   *
  **
 ***
****

In [54]:
for i in range(1,5):
    for j in range(2,i+1):
        print('+',end='')
    for j in range(1,i+1):
        print('*',end='')
    print('')

*
+**
++***
+++****

In [62]:
for i in range(1,5):
    for j in range(5,i,-1):
        print('+',end= '')
    for k in range(2,i+1):
        print('*',end='')
    
    print('')

++++
+++*
++**
+***

In [65]:
for i in range(1,5):
    for k in range(2,i+1):
        print(' ',end='')
    for j in range(5,i,-1):
        print('*',end= '')
    
    
    print('')

****
 ***
  **
   *

In [1]:
a = {1,2,33,33,4}

In [2]:
a

{1, 2, 4, 33}